<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.eladnava.karmadefender"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Wi-Fi Permissions for Querying and Deleting Wi-Fi Networks -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- KarmaDefender -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/karmadefender"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity
            android:name=".activities.Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Popup Activity -->
        <activity
            android:name=".activities.Popup"
            android:excludeFromRecents="true"
            android:label="@string/karmadefender"
            android:launchMode="singleInstance"
            android:theme="@style/PopupDialog">
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".activities.Settings"
            android:label="@string/settings"
            android:parentActivityName=".activities.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Main"/>
        </activity>

        <!-- Boot Receiver -->
        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Scan Receiver -->
        <receiver android:name=".receivers.ScanReceiver"/>
    </application>
</manifest>
